.portfolio_section{
    padding-top: 90px;
    width: 100%;
    float: left;
}

.mx_sm_gp{
    margin-left: 0.13rem!important;
    margin-right: 0.13rem!important;
}
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    /* height: -webkit-fill-available; */
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.pics {
    position: relative;
    overflow: hidden;
}

.pics img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.pics:hover .img-fluid {
    transform: scale(1.15);
    border-radius: 10px;

}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.img_text {
    position: absolute;
    bottom: 0px;
    /* left: 15px; */
    background: linear-gradient(178deg, rgb(255 255 255 / -71%) 0%, rgb(0 0 0 / 48%) 81%);
    display: block;
    width: 100%;
    padding: 1rem;
    -webkit-box-shadow: 0px -10px 168px 99px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0px -10px 168px 99px rgba(0,0,0,0.50);
    box-shadow: 0px -10px 168px 99px rgb(0 0 0 / 5%);    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.img_text h3 {
    padding: 0;
    font-weight: 700;
}

.service_mini_sec{
    background-color: aliceblue;
    padding: 1rem 1rem 0;
    border-radius: 5px;
}
.service_mini_sec img{
    width: 4rem;
    object-fit: cover;
    height: 4rem;
    margin-right: 1rem;
}

@media (max-width: 767.98px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }
}
@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}