.page_heading_sec{
    /* padding: 2rem; */
    background-image: url('../images/about-us-main-bg.jpg');
    background-color: var(--custom-blue);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services_section3{
    width: 100%;
    float: left;
}
.serv_dtls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 0.5rem 0;
    border: 1px solid #d2d2dd00;
    border-radius: 2px;
}


.serv_dtls img{
    object-fit: contain;
    width: 4rem;
    height: 4rem;
}
.serv_dtls img:hover{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.serv_dtls p{
    margin: 8px auto 20px;
    text-transform: capitalize;
}

.serv_dtls .viewbtn{
    visibility: hidden;
    background: #aaaaf3;
    padding: 0.2rem 0.6rem 0.1rem;
    font-size: 10px;
    border-radius: 2px;
    color: #00f;
}

.serv_dtls:hover{
    border: 1px solid #d2d2dd;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.serv_dtls:hover .viewbtn{
    visibility: visible;
}

.service_name{
    font-weight: 500;
}

.service_content h2{
    font-weight: 700;
} 
.service_content strong{
    font-weight: 700;
}
/* 
@media (min-width: 768px){
    .page_heading_sec{
        margin-top: 1rem !important;
    }
}
*/
@media (min-width: 1399.98px){
    .page_heading_sec{
        margin-top: 3.5rem !important;
    }
}